#fieldsetlogin
{
	margin-right: 5%;
	float: right;
	position: relative;
	width: 146px;
	height: 40px;
	border-color: #00008B;
	border-radius: 80px;
	top: 2%;
	background-color: #ADD8E6;
	font-family: Arial;
	border: #16209C 5px double;
}

#imglogin
{
	position: absolute;
	right: 30px;
	top: 10px;

}

#imgperfiles
{
	position: absolute;
	top: 20px;
	left: 100px;

}


#fieldmenu
{

position: absolute;
width: 800px;
height: 338px;
border-color: #16209C;
border-radius: 10px;
 border: #16209C 5px double;

top: 34%;
left: 12%;
}


#holaadmin
{
	position: absolute;
	right: 55px;
}
body
{
	background-image: url('Imagenes/fondo.jpg');

}
hr
{
	border-radius: 10px;
}
h3
{
	text-align: center;
}

#pfield
{
	position: relative;
	left: 32px;

}

span
{
	font-size: 24px;
	color: black;

}
#subrayado
{
	position: relative;
	top: 150px;
	left: 172px;
	font-family: Arial;
	font-size: 20px;
	color:blue;
}

#div
{

	width: 85%;
	left: 100px;
	background-color: white;
	height: 768px;
	position: absolute;
	top: 0px;
	box-shadow: 5px 9px 21px #9AD;
}



#header
{
	margin: auto;
	width: 800px;
	font-family: Arial;
}


.radios
{
	border-radius: 10px;
}


ul, ol {
     margin: 0;
     padding: 0;
     list-style-type: none;
     

     }

.nav li a
{	

	background-color: #16209C;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	float: left;
	box-shadow: 5px 9px 21px #9AD;
	position: relative;
	top: 154px;


}

.nav li a:hover
{
	background-color: #434343;
	
}

#pcarrera
{
	color: black;
}
#ucolor
{
	color: blue;
}