.perder {
	font-size:1.2em;
	margin-top:30px;
}


/************
HOVER EFFECTS
************/

body
{
	font-family: cursive;
	background-image: url("Imagenes/login2.jpg");
}
.tamano
{
	font-size: 16px;
	width: 200px;
	height: 24px;
	margin-right: 17%;
	margin-top: 4%;
	float: right;
	position: relative;
	font-family: cursive;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0px -2px 8px #5CABCA;
}
.tamanoboton
{
		font-size: 14px;
	width: 116px;
	height: 40px;
	margin-right: 32%;
	margin-top: 4%;
	float: right;
	position: relative;
	font-family: cursive;
	box-shadow: 0px 4px 6px #0E489E;
}

h1
{
	font-family: cursive;
	text-align: center;
}

fieldset
{
	top: 15%;
	left: 17%;
	position: absolute;
	width: 322px;
	height: 385px;
	border-color: rgb(32, 161, 167);
	border-radius: 30px 45px;
	box-shadow: 1px 4px 58px #000205;
}
.img
{
	float: right;
	position: relative;
	margin-right: 16%;
	margin-top: 7%;
}

#div
{

	width: 39%;
	left: 28%;
	background-color: white;
	height: 768px;
	position: absolute;
	top: 0px;
	box-shadow: 3px 21px 66px #000205;
}

input
{
	text-align: center;

}

.a
{
	position: absolute;
	top: 90%;
	left: 40%;
	text-decoration: none;
}
