#fieldsetlogin
{
	margin-right: 5%;
	float: right;
	position: relative;
	width: 146px;
	height: 40px;
	border-color: #00008B;
	border-radius: 80px;
	top: 2%;
	background-color: #ADD8E6;
	font-family: Arial;
	border: #16209C 5px double;
}

#imglogin
{
	position: absolute;
	right: 30px;
	top: 10px;

}

#imgperfiles
{
	position: absolute;
	top: 20px;
	left: 100px;

}

#imgfoto{
	position: absolute;
	top: 5%;
	left: 14%;
	box-shadow: 4px 11px 32px #2F64B3;
}



#fieldmenu
{
	position: absolute;
	width: 800px;
	height: 457px;
	border-color: #16209C;
	border-radius: 10px;
	 border: #16209C 5px double;
	box-shadow: 4px 11px 32px #000205;
	top: 20%;
	left: 12%;
}


#holaadmin
{
	position: absolute;
	right: 55px;
}
body
{
	background-image: url('Imagenes/fondo.jpg');

}
hr
{
	border-radius: 10px;
}
h3
{
	text-align: center;
}

#pfield
{
	position: relative;
	left: 32px;

}

span
{
	font-size: 24px;
	color: black;

}
#subrayado
{
	position: relative;
	top: 10%;
	left: 39%;
	
	font-size: 20px;
	color:blue;
	width: 50%;
	font: oblique bold 120% cursive;
}

#div
{

	width: 85%;
	left: 100px;
	background-color: white;
	height: 768px;
	position: absolute;
	top: 0px;
	box-shadow: 5px 9px 21px #000205;
}



#header
{
	margin: auto;
	width: 800px;
	font-family: Arial;
}


.radios
{
	border-radius: 10px;
}


#pcarrera
{
	color: black;
}
#ucolor
{
	color: blue;
}


#linombre 
{
	background-color: #434343;
}

th
{
	border-bottom: solid;
	width: 200px;
	text-align: center;

}
td
{
	padding-top: 15px;
	text-align: center;
}
#margen1
{
	position: relative;
	right: 14px;
}
#margen2
{
	position: relative;
	right: -25px;
}

#addcarrera
{
	position: absolute;
	right: 88px;
	top: 87px;
	z-index: 1;
}

#btnguardar{
	font-size: 16px;
	position: absolute;
	top: 86%;
	left: 42%;
	box-shadow: 2px 5px 20px #2F64B3
}


#btncancelar{
	font-size: 16px;
	position: absolute;
	top: 421px;
	left: 54%;
	height: 35px;
	text-align: center;
}

#labelcodigo
{
	position: absolute;
	top: 40%;
	left: 2%;
}

#labelnombre
{
	position: absolute;
	top: 50%;
	left: 2%;
}

#inputcodigo
{
	position: absolute;
	top: 39%;
	left: 10%;
	height: 22px;
	width: 200px;
	font-size: 16px;
	text-align: center;
	box-shadow: 2px 5px 7px #2F64B3;
	border-radius: 6px;
}


#inputnombre
{
	position: absolute;
	top: 49%;
	left: 10%;
	height: 22px;
	width: 200px;
	font-size: 16px;
	text-align: center;
	box-shadow: 2px 5px 7px #2F64B3;
	border-radius: 6px;
}

#inputcarrera
{
	position: absolute;
	top: 58%;
	left: 10%;
	height: 22px;
	width: 200px;
	font-size: 16px;
	text-align: center;
	box-shadow: 2px 5px 7px #2F64B3;
	border-radius: 6px;
}


#inputnivel
{
	position: absolute;
	top: 67%;
	left: 17%;
	height: 22px;
	width: 142px;
	font-size: 16px;
	text-align: center;
	box-shadow: 2px 5px 7px #2F64B3;
	border-radius: 6px;
}

#lblcarrera
{
	position: absolute;
	top: 59%;
	left: 2%;
}

#btncargar
{
	position: absolute;
	top: 31%;
	left: 10%;
	font-size: 15px;
}
#lblnivel
{
	position: absolute;
	top: 68%;
	left: 2%;
}

#inputskills
{
	position: absolute;
	top: 76%;
	left: 10%;
	height: 70px;
	width: 200px;
	font-size: 16px;
	text-align: center;
	box-shadow: 2px 5px 7px #2F64B3;
	border-radius: 6px;
}

#lblskills
{
	position: absolute;
	top: 77%;
	left: 2%;
}

#lblproyectos
{
	position: absolute;
	left: 56%;
	top: 9%;
}

#textarea
{
	position: absolute;
	left: 56%;
	top: 14%;
	width: 314px;
	height: 140px;
	font-size: 16px;
	box-shadow: 2px 5px 7px #2F64B3;
	border-radius: 6px;
	

}


#textarea2
{
	position: absolute;
	left: 56%;
	top: 55%;
	width: 314px;
	height: 109px;
	font-size: 16px;
	box-shadow: 2px 5px 7px #2F64B3;
	border-radius: 6px;
	
}

#lblcomentarios
{
	position: absolute;
	left: 56%;
	top: 50%;
}


#fieldfoto
{
	position: absolute;
	width: 14%;
	height: 24%;
	left: 10%;
	text-align: center;
	border-radius: 25px;
}
textarea
{
	font-family: Arial;
}