#fieldsetlogin
{
	margin-right: 5%;
	float: right;
	position: relative;
	width: 146px;
	height: 40px;
	border-color: #00008B;
	border-radius: 80px;
	top: 2%;
	background-color: #ADD8E6;
	font-family: Arial;
	border: #16209C 5px double;
}

#imglogin
{
	position: absolute;
	right: 30px;
	top: 10px;

}

#imgperfiles
{
	position: absolute;
	top: 20px;
	left: 100px;

}


#fieldmenu
{
	position: absolute;
	width: 800px;
	height: 457px;
	border-color: #16209C;
	border-radius: 10px;
	 border: #16209C 5px double;
	box-shadow: 4px 11px 32px #000205;
	top: 20%;
	left: 12%;
}


#holaadmin
{
	position: absolute;
	right: 55px;
}
body
{
	background-image: url('Imagenes/fondo.jpg');

}
hr
{
	border-radius: 10px;
}
h3
{
	text-align: center;
}

#pfield
{
	position: relative;
	left: 32px;

}

span
{
	font-size: 24px;
	color: black;

}
#subrayado
{
	position: relative;
	top: 10%;
	left: 39%;
	
	font-size: 20px;
	color:blue;
	width: 50%;
	font: oblique bold 120% cursive;
}

#div
{

	width: 85%;
	left: 100px;
	background-color: white;
	height: 768px;
	position: absolute;
	top: 0px;
	box-shadow: 5px 9px 21px #000205;
}

#header
{
	margin: auto;
	width: 800px;
	font-family: Arial;
}


.radios
{
	border-radius: 10px;
}


#pcarrera
{
	color: black;
}
#ucolor
{
	color: blue;
}


#btnguardar{
	font-size: 16px;
	position: absolute;
	top: 63%;
	left: 37%;
}


#btncancelar{
	font-size: 16px;
	position: absolute;
	top: 63.3%;
	left: 52%;
	height: 34px;
	text-align: center;
}

#lblcedula
{
	position: absolute;
	top: 16%;
	left: 31%;
}

#lblnombre
{
	position: absolute;
	top: 28%;
	left: 30.5%;
}

#inputcedula
{
	position: absolute;
	top: 14%;
	left: 39%;
	height: 22px;
	width: 200px;
	font-size: 16px;
	text-align: center;
}

#inputnombre
{
	position: absolute;
	top: 26%;
	left: 39%;
	height: 22px;
	width: 200px;
	font-size: 16px;
	text-align: center;
}

#inputcarrera
{
	position: absolute;
	top: 59%;
	left: 10%;
	height: 22px;
	width: 200px;
	font-size: 16px;
	text-align: center;
}


#inputnombreusuario
{
	position: absolute;
	top: 37%;
	left: 39%;
	height: 22px;
	width: 200px;
	font-size: 16px;
	text-align: center;
}

#lblrole
{
	position: absolute;
	top: 48%;
	left: 33.5%;
}

#btncargar
{
	position: absolute;
	top: 31%;
	left: 10%;
	font-size: 15px;
}
#lblnombreusuario
{
	position: absolute;
	top:  38.5%;
	left: 21%;
}

#inputrole
{
	position: absolute;
	top: 48%;
	left: 39%;
	height: 23px;
	width: 203px;
	font-size: 16px;
	text-align: center;
}

