
#imgperfiles
{
	position: absolute;
	top: 20px;
	left: 100px;

}


#fieldmenu
{
	position: absolute;
	width: 800px;
	height: 402px;
	border-color: #16209C;
	border-radius: 10px;
	border: #16209C 5px double;
	box-shadow: 4px 11px 32px #1653AF;
	top: 24%;
	left: 12%;
}



body
{
	background-image: url('Imagenes/fondo.jpg');

}
hr
{
	border-radius: 10px;
}
h3
{
	text-align: center;
}

#pfield
{
	position: relative;
	left: 32px;

}

span
{
	font-size: 24px;
	color: black;

}
#subrayado
{
	position: relative;
	top: 15%;
	left: 23%;
	font-family: Arial;
	font-size: 20px;
	color:blue;
	width: 50%;
}

#div
{

	width: 85%;
	left: 100px;
	background-color: white;
	height: 768px;
	position: absolute;
	top: 0px;
	box-shadow: 5px 9px 21px #000205;
}



#header
{
	margin: auto;
	width: 800px;
	font-family: Arial;
}


.radios
{
	border-radius: 10px;
}





th
{
	border-bottom: solid;
	width: 200px;
	text-align: center;

}
td
{
	padding-top: 15px;
	text-align: center;
}
#margen1
{
	position: relative;
	right: 14px;
}
#margen2
{
	position: relative;
	right: -25px;
}

#addcarrera
{
	position: absolute;
	right: 88px;
	top: 87px;
	z-index: 1;
}

table
{
	right: 84px;
position: absolute;
}

#tamanno
{
	width: 60px;
}

#btnguardar{
	font-size: 16px;
	position: absolute;
	top: 7%;
	left: 74%;
	box-shadow: 2px 5px 20px #2F64B3
}
