.perder {
	font-size:1.2em;
	margin-top:30px;
}


/************
HOVER EFFECTS
************/

body
{
	font-family: cursive;
}
.tamano
{
	font-size: 14px;
	width: 200px;
	height: 15px;
	margin-right: 17%;
	margin-top: 4%;
	float: right;
	position: relative;
	font-family: cursive;
}
.tamanoboton
{
	font-size: 14px;
	width: 80px;
	height: 30x;
	margin-right: 37%;
	margin-top: 4%;
	float: right;
	position: relative;
	font-family: cursive;
}

h1
{
	font-family: cursive;
	text-align: center;
}

fieldset
{
	margin-right: 42%;
	margin-top: 10%;
	float: right;
	position: relative;
	width:300px;
	height:300px;
	border-color: orange;
	border-radius: 30px 45px;
}
img
{
	float: right;
	position: relative;
	margin-right: 16%;
	margin-top: 7%;
}


